* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    

}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    
    
    margin: 0;
}
#dio-div{
  width: 100%;
  height:100%;
  background-color:#d1cda7;}


#logo-div{
    width: 100%;
    min-width: 200px;
    background-color:#bebaac ;
    padding-left: 2%;
    padding-top: 100px;
    height: 202px;
}
#nav-div{ 
    width: 100%;
    min-width: 30px;
    background-color: #AC8181;
    text-align: center;
    line-height: 30px;
}
#hed-div{
    width: 100%;
    min-width: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F8F8FF;
    text-align: center;
    margin-bottom: 0px;
}

.dot {
  height: 250px;
  width: 250px;
  padding-top: 5%;
  background-image:url("ASP.jpg");
  background-position:top;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
}



#main-div{
    width: 100%;    
    margin-bottom: 0px;
}
#SB-div{
    width: 25%;
    min-height: 400px;
    background-image: url("ASP.jpg");
    background-position: center;
    background-size:cover;
    float: right;
  
    text-align: center;
    line-height: 400px;
}
#BA-div{
    width: 70%;
    min-height: 500px;
    background-color:#CFCECA ;
    float: left;
    text-align: center;
    height: 500px;
}

#SBA-div{
  width: 5%;
  min-height: 500px;
  background-color:#CFCECA ;
  float: right;
  text-align: center;
  line-height: 500px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
    
}

#fot-div{
    width: 100%;
    min-width: 300px;
    background-color: #C9A959;
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    height: 300px;
}

#wrapp-div{
    width: 100%;
    margin: auto;
    background-color:#CFCECA  ;

}




ul{
    margin: 0;
    padding: 0;
    display:inline-flex;
    position: absolute;
    top: 10%;
    left: 64%;
    transform: translate(-1%, -60%);
  }
  ul li{
    list-style: none;
    margin: 0 15px;
  }
  ul li a {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: centre;
    line-height: 100px;
    background-image:url("GIT.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }

  
  ul li a::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transition: scale(.9);
    z-index: -1;
  }
  
  ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }
  
  ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
}


  ul li a b {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: centre;
    line-height: 100px;
    background-image:url("LIT.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }


  ul li a b::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transition: scale(.9);
    z-index: -1;
  }

  ul li a b:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }

  ul li a b:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
  }


  ul li a c {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: centre;
    line-height: 100px;
    background-image:url("INT.jpg");
    background-position:center;
    background-size: cover;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }


  ul li a c::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transition: scale(.9);
    z-index: -1;
  }

  ul li a c:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }

  ul li a c:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
  }



  ul li a d {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: centre;
    line-height: 100px;
    background-image:url("DIS.jpg");
    background-position:center;
    background-size: contain;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }


  ul li a d::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transition: scale(.9);
    z-index: -1;
  }

  ul li a d:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }

  ul li a d:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
  }


  ul li a de {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    text-align: left;
    line-height: 100px;
    background-image:url("hom.jpg");
    background-position:center;
    background-size: contain;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }


  ul li a de::before {
    content : '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transition: scale(.9);
    z-index: -1;
  }

  ul li a de:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
  }

  ul li a de:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 15px #ffee10;
  }


klp {
    font-family:cursive;
    font-size: 3mm;
    margin: 3;
    padding-bottom: 1em;
  }
  
  klp {
    font-size: 2em;
  }
  
  klp::before {
  content : '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #d1cda7;
  transition: .5s;
  transition: scale(.9);
  z-index: -1;
  }
  
  klp:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffffff;
  }
  
  klp:hover {
  color: #ffffff;
  box-shadow: 0 20 15px #d1cda7;
  text-shadow: 0 0 15px #f0d904;
  }
al{
  font-style: italic;
  font-family:fantasy;
  font-size: 120px;
  color: #235D5B;
}

ahl{
  font-style: italic;
  padding-left: 10px;
  font-family:fantasy;
  font-size: 80px;
  color: #235D5B;}

h3{
  margin: 0%;
}
.parent{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}


.child{
  display: grid;
  
}

@media ( max-width : 768px){
  .parent{
    grid-template-columns: repeat(1,1fr);
  }
  al{
    font-style: italic;
    font-family:fantasy;
    font-size: 70px;
    color: #235D5B;
}}
@media(max-width :480px)  {
  .parent{
    grid-template-columns: repeat(1,1fr);
  }
  al{
    font-style: italic;
    font-family:fantasy;
    font-size: 60px;
    color: #235D5B;
  
}}
