<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>bio</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

    <div id="logo-div">
       
        <form action = "/test" method = "post">
          <klp>Home</klp>
        </form>


        <ul>
            <li>
              
              <a  href="https://www.linkedin.com/in/alwin-sajan-102177255">
                <b></b>
              </a>
            </li>
            <li>
              <a href="https://github.com/Alwin-Sajan">
                <i ></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/_present_legend_">
                <c></c>
              </a>
            </li>
            <li>
              <a href="https://alwin-sajan.github.io/discode">
                <d></d>
              </a>
            </li>
          </ul>
          
    </div>

    <div id="wrapp-div" class="parent" >

        
        <div id="nav-div" class="child">
          <h3><marquee direction="right" 
            behavior="alternate"
            onmouseover="this.stop();"
               onmouseout="this.start();">
            Welcome to my website
        </marquee></h3>
        </div>
        <div id="hed-div" class="child">
        
        </div>

        <div id="main-div" class="clearfix">
            
            <div id="SBA-div">

            </div>
            <div id="SB-div">
                
            </div>
            <div id="BA-div">
                <h1>I'm</h1>
                <al>Alwin Sajan</al>
                <p>
                A young tech enthusiast from India.</p> 

              
                <h3>Lover of all things tech and 
                  computers!</h3>
                  <h3> I'm always excited to learn about the latest gadgets and
                   gizmos.</h3>
                <h4>- 🔭 I’m currently doing B tech in CSE</h4>

                <h4>- 🌱 I’m currently learning Flask , Python ,Java </h4>
                <h4>- ⚡ Fun fact Python nerd</h4>
                <h4>- 💬 Ask me about Python , tech etc</h4>

            </div>
        </div>

        <div id="fot-div" class="child">
          Connect with me:
          <a href="https://linkedin.com/in/alwin-sajan-102177255" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="Alwin Sajan" height="30" width="40" /></a>
          <a href="https://instagram.com/_present_legend_" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="_present_legend_" height="30" width="40" /></a>
          <a href="https://discord.gg/Alwin Sajan#8079" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/discord.svg" alt="8079" height="30" width="40" /></a>
          <a href="https://github.com/Alwin-Sajan" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/github.svg" alt="Alwin-Sajan" height="30" width="40" /></a>
          </p>


        </div>
    </div>
</body>
</html>