<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Discode
    </title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <div id="logo-div">
       
        <ul>
            <li>
              
              <a  href="https://alwin-sajan.github.io">
                <de></de>
              </a>
            </li>
        </ul>
        
    </div>    
    <div id="dio-div">
        <p></p>
        <p></p>
        

        <ahl>My discode id is  </ahl>
        <al>Alwin Sajan #8079</al> 

    </div>
    
</body>
</html>